
@{
    ViewBag.Title = "View";
}

<h3>You will need to register as adminstration in order to access the admin pages. </h3>
@Html.ActionLink("Registration", "Register", "Account")</br>
@Html.ActionLink("Login", "Login", "Account")
