<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="ProductConfiguratorEntities" connectionString="metadata=res://*/ConfiguratorModel.csdl|res://*/ConfiguratorModel.ssdl|res://*/ConfiguratorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=ProductConfigurator;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="ConfiguratorEntities" connectionString="metadata=res://*/ConfiguratorEntities.csdl|res://*/ConfiguratorEntities.ssdl|res://*/ConfiguratorEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Configurator;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ConfiguratorEntities" connectionString="metadata=res://*/ProductConfiguratorEntities.csdl|res://*/ProductConfiguratorEntities.ssdl|res://*/ProductConfiguratorEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Configurator;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ConfiguratorEntities1" connectionString="metadata=res://*/ConfiguratorEntities.csdl|res://*/ConfiguratorEntities.ssdl|res://*/ConfiguratorEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Configurator;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>