
@{
    ViewBag.Title = "View";
}

<h2>Your new password has been saved.</h2>
@Html.ActionLink("Log in with new password", "Login", "Account")<br />

@Html.ActionLink("Continue with configuration", "Index", "Configurator")

